{% extends 'layout-admin.njk' %}

{% block content %}

<form class="card container" method="POST" action="/admin?_method=PUT">
    <section>
        <div class="create_recipe">
        <h3>Edit recipe</h3>

        <button type="submit" id="save">Save Recipe</button>
       
        </form>
        </div>
        {% include 'admin/fields.njk'%}

        <input type="hidden" name="id" value={{recipe.id}}>

         <form action="/admin?_method=DELETE" method="POST">
        <input type="hidden" name="id" value={{recipe.id}}>
        <button type="submit" id="delete">Delete</button>

    </section>

</form>

{% endblock content %}

