{% extends 'layout-admin.njk' %}

{% block content %}

  <main class="container">
    <h2>Manage recipes</h2>

    <div class="recipes">

      {% for recipe in recipes %}

        <div class="recipe">
          <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
          <div class="card-info">
            <h4>{{ recipe.title }}</h4>
            <p>by {{ recipe.author }}</p>
          </div>
        </div>

      {% endfor %}

    </div>
  </main>

{% endblock content %}