{% extends 'layout-admin.njk' %}

{% block content %}

  <main class="container">
    <h2>Manage recipes</h2>

    <div class="recipes-admin">

      {% for recipe in recipes %}

        <div class="recipe-admin">
          <a href="show/{{recipe.id}}"><img src="{{ recipe.image }}" alt="{{ recipe.title }}"></a>
          <div class="card-info">
            <h4>{{ recipe.title }}</h4>
            <p>by {{ recipe.author }}</p>
          </div>
        </div>

      {% endfor %}

    </div>
  </main>

{% endblock content %}