{% extends 'layout-admin.njk' %}

{% block head %}
  <title>Recipes</title>
{% endblock head %}

{% block content %}

  <main class="container">
    <div class="cards recipes">

      {% for recipe in recipes %}

        <div class="card">
          <img src="{{ recipes.image }}" alt="{{ recipes.title }}">
          <div class="card-info">
            <h4>{{ recipe.title }}</h4>
            <p>by {{ recipe.author}}</p>
          </div>
        </div>

      {% endfor %}
    </div>
  </main>

  <script src="/script.js"></script>

{% endblock content %}