<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
    <title>Foodfy</title>
  {% endblock head %}
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header class="container admin">
    <a href="/"><img src="/assets/logo-admin.png" id="logo" alt="foodfy"></a>
  </header>

  {% block content %}
  {% endblock content %}

</body>
</html>